<div class="flex flex-col gap-1" [class.mb-5]="!noMargin">
    <div class="flex items-center justify-between gap-3">
      <div class="flex-1 min-w-0">
        <div class="flex items-center gap-2">
          <h2 class="text-xl font-figtree font-bold text-slate-800 leading-tight">{{ title }}</h2>
          <ng-content select="[header-badge]"></ng-content>
        </div>
        @if(subTitle) {
          <p class="text-sm font-figtree text-slate-500 mt-1">{{ subTitle }}</p>
        }
      </div>
      
      <div class="flex items-center gap-2 shrink-0">
        @if(canGoBack && backPosition === 'start') {
          <app-button
            variant="outline"
            [icon]="arrowLeftIcon"
            (btnClick)="goBack()">
            Back
          </app-button>
        }
        <ng-content></ng-content>
        @if(canGoBack && backPosition === 'end') {
          <app-button
            variant="outline"
            [icon]="arrowLeftIcon"
            (btnClick)="goBack()">
            Back
          </app-button>
        }
      </div>
    </div>
</div>