@use '@angular/material' as mat;

:host {
  @include mat.paginator-overrides((
    container-background-color: #ffffff,
  ));

  @include mat.table-overrides((
    row-item-outline-color: #d9d9d9,
    row-item-container-height: 45px,
    header-container-height: 45px,
  ));

  @include mat.icon-button-overrides((
    state-layer-size: 35px
  ));

  @include mat.select-overrides((
    trigger-text-size: 14px,
  ));

  @include mat.form-field-overrides((
    disabled-input-text-placeholder-color: orange,
    container-height: 38px,
    container-vertical-padding: 8px,
    outlined-label-text-size: 14px,
    container-text-size: 14px,
    state-layer-color: var(--mat-sys-surface)
  ));
}

.mat-mdc-header-row {
  font-weight: 600;
  font-family: var(--font-figtree);
}

.mat-mdc-row, .mdc-data-table__content {
  font-family: var(--font-figtree) !important;
  color: #303030 !important;
}

.mat-mdc-icon-button {
  width: 38px;
  height: 38px;
  padding: 7px;
  // border-radius: 8px;
}

.mat-mdc-icon-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

mat-paginator {
  border-top: 1px solid #d9d9d9;
}

.action-btns mat-icon {
  height: 24px;
  width: 20px;
  font-size: 20px;
}