<div>
  <app-header
    title="My Tasks"
    subTitle="Tasks directly assigned to you that require your review, input, or approval."
  />

  <app-data-table
    [data]="tasks"
    [columns]="columns"
    [loading]="loading()"
    (view)="onActionTask($event)"
    [showHoverBg]="true"
    [columnTemplates]="getColumnTemplates()"
  >
  </app-data-table>

  <!-- Module Column Template -->
  <ng-template #typeTpl let-row>
    <span class="text-sm font-medium text-slate-800">
      {{ getModuleLabel(row.entity_type) }}
    </span>
  </ng-template>

  <!-- Details Template -->
  <ng-template #detailsTpl let-row>
    <div class="max-w-md truncate text-xs text-slate-600">
      {{ row.entity_detail }}
    </div>
  </ng-template>

  <!-- Status Column Template -->
  <ng-template #statusTpl let-row>
    <app-badge [variant]="getStatusVariant(row.node_name)">
      {{ capitalize(row.node_name) }}
    </app-badge>
  </ng-template>
</div>
